*{
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #212020;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    background-color: #ffffff;
    color: #000000 ;
    width: 836px;
    height: 527px;
    border-radius: 10px;
    display: flex;
}

/* Сайдбар */
aside {
    width: 242px;
    background-color: #2ECC71;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.todo {
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;

    padding: 0;
    margin-bottom: 40px;
    text-align: center;
    
}

.btn {
    color: #FFFFFF;
    background-color: #27AE60;
    border-radius: 10px;
    border: 1px solid #27AE60;
    width: 90px;
    height: 40px;
    font-size: 16px;
    font-weight: medium;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}

.btn:hover {
    color: #000000;
    background-color: #A3E635;
    border: 1px solid #A3E635;
}

.btn:focus {
    color: #000000;
    background-color: #A3E635;
    border: 1px solid #A3E635;    
}

/* Основний вміст */
.tasks {
    padding-top: 20px;
    padding-left: 5px;
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 36px;
    font-weight: medium;
}

.input {
    margin-left: 5px;
    width: 240px;
    height: 42px;
    border-radius: 5px;
    font-size: 16px;
    color: #808080;
    border: 3px solid #2ECC71;
    font-family: 'Inter', sans-serif;
    padding-left: 10px;
}

.input2 {
    margin-left: 5px;
    width: 154px;
    height: 42px;
    border-radius: 5px;
    font-size: 16px;
    color: #000000;
    border: 3px solid #2ECC71;
    font-family: 'Inter', sans-serif;
    cursor: pointer; 
}

.add {
    margin-left: 5px;
    width: 53px;
    height: 35px;
    border: 1px solid #2ECC71;
    background-color: #2ECC71;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.add:active {
    border: 1px solid #2ECC71;
    background-color: #2ECC71;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.add:hover {
    border: 1px solid #A3E635;
    background-color: #A3E635;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000000;
}

button{
    cursor: pointer;

}

nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    
}

/* GPT зробив */
/* прибрав текст той що в середені в label */
label {
    
    position: absolute;
    width: 0px;
    overflow: hidden;
}
